
body {
	font-family: 'Hiragino Kaku Gothic Pro W3','ヒラギノ角ゴ Pro W3','メイリオ', 'Verdana',sans-serif;
	background: black;
	margin: 0;
	padding: 0;
}
* {
	color: white;
}


#debug {
	display: none;
}

#imagecontainer {
	float: left;
	/*
	overflow:auto;
	position:absolute;
	border: 1px solid white;
	*/
}

#loading {
	position: relative;
	display: none;
	margin-left: auto;
	margin-right: auto;
}
#stream-status {
	position: relative;
	display: none;
	margin-left: auto;
	margin-right: auto;
}

#image-caption {
	display: block;
	position: fixed;
	opacity: 0.7;
	left: 240px;
	bottom: 0.2em;
	background: black;

	-moz-border-radius: 4px;
	font-size:small;
	/*
	margin-left:auto;
	margin-right:auto;
	*/
	opacity:0.7;
	padding:0.3em;
}

#image {
	display: none;
	margin-top: 1em;
	margin-left: auto;
	margin-right: auto;
}

#container {
		
}
#sources {
	visibility: hidden;
	width: 220px;
	float:left;
	height: 100%;
	overflow:scroll;
	overflow-x:hidden;
}

#sources ul {
	padding: 0;
}
#sources li {
	list-style: none;
	/*
	float: left;
	*/
	cursor: pointer;
	font-size: small;
	margin-left: 0.2em;
	margin-right: 0.2em;
	padding: 3px 1em;
}
#sources li:hover {
	color: white;
	background: #444;
	-moz-border-radius: 3px;
}
#sources li.selected {
	color: white;
	background: #555;
	border: 1px solid #777;
	-moz-border-radius: 3px;
}

#status {
	position: fixed;
	left: 240px;
	top: 0.2em;
	font-size: small;
	color: #999;

	display: block;
	opacity: 0.7;
	background: black;

	-moz-border-radius: 4px;
	padding:0.3em;

	text-align: center;

}

#help {
	position: absolute;
	display: block;
	width: 100%;
}
#help-label {
	font-weight: bold;
	position: fixed;
	top: 0.4em;
	right: 0.4em;

}
#help-content {
	position: relative;
	display: none;
	top: 30px;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	background: #121224;
	padding: 2em;
	-moz-border-radius: 1em;
	line-height: 1.7em;
}

#help-content dl {
	margin-top: 0;
}
#help-content dt {
	float: left;
	font-weight: bold;
}
#help-content dd {
	margin-left: 1.5em;
}

#help-content a {
	text-decoration: underline;
	
}

#help-content .about-iview {
	text-align: right;
	font-size: small;
}

a {
	text-decoration: none;
}

#reblogging {
	position: fixed;
	right: 3em;
	bottom: 3em;
}
#reblogging-message {
	display: none;
}
#reblogging-done {
	display: none;
}

/**
 * subscription window
 **/
#subscribe-window {
	z-index: 25;
	display: none;
	width: 500px;
	position: absolute;
	top: 10px;
	background: #222;
	padding-bottom: 1em;
	-moz-border-radius: 0.2em;
}

#subscribe-window center {
	padding: 0.2em;
		font-weight: bold;
		font-size: large;
}
#subscribe-window #siteinfo-load-status {
	text-align: center;
}
#subscribe-window #subscribe-close {
	font-weight:bold;
	left:0px;
	margin-right:4px;
	position:absolute;
	right:0pt;
	text-align:right;
}

#subscribe-window #feed-list {
	list-style: none;
}

#open-subscribe-window {
	font-weight: bold;
	text-align: right;
}

#unsubscribe {
	position:fixed;
	bottom:0;
	font-size:small;
	display: none;
	bottom: 0.2em;
	right: 1em;
}
#unsubscribe a {
	color: #aaa;
}
